# DB CREDENTIALS
DB_HOST=your_db_host_name
DB_PORT=your_db_port_number
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
 
# JWT SECRETS
AUTH_SECRET=your_access_token_secret
AUTH_SECRET_EXPIRES_IN=your_access_token_expire_time
 
AUTH_REFRESH_SECRET=your_refresh_token_secret
AUTH_REFRESH_SECRET_EXPIRES_IN=your_refresh_token_expire_time
 
# Email SMTP
EMAIL_USER=your_mail
EMAIL_PASS=your_mail_app_password(after 2 step verification you will get it)