
DB_HOST=yourhostname
DB_PORT=portnumber
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=dbpassword
 
# JWT
AUTH_SECRET=secretkey
AUTH_SECRET_EXPIRES_IN=time
 
AUTH_REFRESH_SECRET=secretrefreshkey
AUTH_REFRESH_SECRET_EXPIRES_IN=time
 
# Email 
EMAIL_USER=youmail
EMAIL_PASS=yourmailapppassword(after 2 step verification you will get it)